
@keyframes scaleAnimation {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}

.container {
  position: relative;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon-image {
  width: 300px;
  animation: scaleAnimation 2s infinite;
  height: auto;
  position: absolute;
  top: 49;
  left: 49;
  object-fit: cover;
}

.moon-text {
  position: absolute;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5); /* optional: for better readability */
  border-radius: 5px; /* optional: for a better visual appearance */
}
